#dnsupdatersettings{

	#dyndnsserviceselection {
		label {
			display: inline-block;
			width: 110px;
			text-align: right;
		}

		select{
			width: 200px;
		}

	}

	.ip-service-message{
		display: inline-block;
		margin-left: 10px;
	}

	.entry{
		&:first-child{
			border-top: 2px solid grey;
		}

	    border-bottom: 2px solid grey;
	    padding: 5px;
	    display: table;
		position: relative;
		padding-right: 40px;

		.deletewrapper{
			height: 100%;
			width: 32px;
			float: right;
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			justify-content: right;
			align-items: center;

			.deleteicon	{
				background-repeat: no-repeat;
				cursor: pointer;
				background-image: var(--icon-delete-000);
				width: 16px;
				height: 16px;
				margin-right: 8px;

				&:hover{
					background-image: var(--icon-delete-e9322d);
					filter: initial;
				}
			}

		}

		label {
		    display:inline-block;
		    width: 200px;
		    text-align: right;
		}

		input:not([type='checkbox']),
		select{
		    box-sizing:  border-box;
		    width: 120px;
		}

		input[type='checkbox']{
			vertical-align: middle;
		    margin-right: 107px;
		    margin-left: 0px;
		}
	}

	#entrytemplate{
		display:none;
	}

	button{
		margin: 10px 0px;
	}

}
